@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563EB; /* Blue-600 */
  --primary-hover: #1D4ED8; /* Blue-700 */
  --primary-light: #EFF6FF; /* Blue-50 */

  --text-main: #1F2937; /* Gray-800 */
  --text-muted: #4B5563; /* Gray-600 */
  --text-subtle: #9CA3AF; /* Gray-400 */

  --surface: #FFFFFF;
  --background: #F9FAFB; /* Gray-50 */
  --border: #E5E7EB; /* Gray-200 */
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text-main);
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #D0D5DD;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #98A2B3;
}