body {
  font-family: var(--vscode-font-family);
}

.global-error {
  max-width: 100%;
}

.global-error h1 {
  font-weight: 400;
  margin-bottom: 10px;
}

.global-error pre {
  border: 1px solid var(--vscode-input-border);
  padding: 4px;
  margin: 0;
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  font-family: var(--vscode-editor-font-family);
}

.sidebar-container {
  margin-top: 0.5rem;
  display: grid;
  align-items: center;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.control-panel {
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr;
}

.control-selector {
  height: 24px;
  border: 1px solid var(--vscode-input-border);
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
}

#start-button {
  padding: 8px;
  height: 24px;
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-button:hover {
  background: var(--vscode-button-hoverBackground);
}

#log-area {
  overflow-y: auto;
  padding: 4px 0;
}

.log-message {
  margin-bottom: 2px;
  padding: 0 2px;
}

.log-ai {
  color: var(--vscode-debugTokenExpression-name);
}

@keyframes ellipsis {
  0% {
    content: "...";
  }

  50% {
    content: "..";
  }

  100% {
    content: ".";
  }
}

.log-ai.active::after {
  content: "...";
  display: inline-block;
  /* animate the ellipsis */
  animation: ellipsis 1.5s infinite;
}

.log-fn {
  font-family: var(--vscode-editor-font-family);
  background: var(--vscode-input-background);
  border: 1px solid var(--vscode-input-border);
  border-radius: 4px;
}

.log-fn .markdown-content p {
  display: inline-block;
  margin: 2px;
}

.log-debug {
  color: var(--vscode-debugIcon-breakpointCurrentStackframeForeground);
}

.log-info {
  color: var(--vscode-font-family);
}

.log-error {
  color: var(--vscode-debugConsole-errorForeground);
}

.log-warn {
  color: var(--vscode-debugConsole-warningForeground);
}

.results {
  max-width: 100%;
  overflow: auto;
}

.results header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.markdown-content {
  max-width: 100%;
  overflow: auto;
}

.markdown-content p:first-child {
  margin-top: 0;
}

.markdown-content code {
  font-family: var(--vscode-editor-font-family);
  background: var(--vscode-editor-background);
  padding: 2px 4px;
  border-radius: 3px;
}


.help-text {
  opacity: 0.8;
}

.thinking {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  align-items: center;
}

.thinking .text::after {
  display: inline-block;
  content: ".";
  animation: ellipsis 1s infinite;
}


.spinner {
  border: 2px solid var(--vscode-button-background);
  border-top: 2px solid var(--vscode-button-foreground);
  border-radius: 50%;
  margin: 2px 4px;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

@keyframes ellipse {
  0% {
    content: ".";
  }

  33% {
    content: "..";
  }

  66% {
    content: "...";
  }

  100% {
    content: ".";
  }

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.ai-function-call {
  border: 1px solid var(--vscode-input-border);
  margin-top: 1rem;
  padding: 0.2rem;
}

.ai-function-call .function-name {
  background: var(--vscode-input-background);
  border-bottom: 1px solid var(--vscode-input-border);
  padding: 4px;
  font-family: var(--vscode-editor-font-family);
}